<div class="browse-more-stories">    
        <% case genre.name %>
          <% when "Fiction" then %>
            <%= link_to root_path(Fiction: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
          <% when "Romance" then %>
            <%= link_to root_path(Romance: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
          <% when "Fantasy" then %>
            <%= link_to root_path(Fantasy: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
         <% when "Mystery" then %>
            <%= link_to root_path(Mystery: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Science_fiction" then %>
            <%= link_to root_path(science_fiction: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Horror" then %>
            <%= link_to root_path(Horro: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Crime" then %>
            <%= link_to root_path(Crime: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Paranormal" then %>
            <%= link_to root_path(Paranormal: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Urban_fantasy" then %>
            <%= link_to root_path(Urban_fantasy: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Thriller" then %>
            <%= link_to root_path(Thriller: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Teen" then %>
            <%= link_to root_path(Teen: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Western" then %>
            <%= link_to root_path(Western: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% when "Fanfiction" then %>
            <%= link_to root_path(Fanfiction: (params[:"#{genre.name}"].to_i || 1)+1,
                                      param_name: "#{genre.name}",
                                      per_page: params[:per_page] || 8),
                                      class: "#{genre.name} hook3 btn btn-primary",
                                        data: {genre: "#{genre.name}"},
                                        remote: true do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
        <% end %>
    </div>