<div class="story-main-content">
  <div class="story-content-wrapper">
     
      <h4 class="story-item-title"><a class="story-title"
            title="<%= story.title %>"
            href="<%= story_path(story) %>">
            <%= truncate(story.title, length: 21) %></a></h4>
      
        <div class="story-item-thumb">
          <a href="<%= story_path(story) %>">
             <i class="icon-book icon-4x"></i>
             <span class="word-count"><%= story.content.length %> words</span>
             <span class="read-later"><%= render 'browse_pages/add_to_read_later', story: story %></span>
          </a>
        </div>
        
      <div class="story-description">
        
          <a class="author-name" title="<%= story.user.name %>" href="<%= user_path(story.user) %>">
          <%= story.user.name %>
          </a>
        
        <div class="stats">
          <span class="view-count"><%= story.stats.select("DISTINCT viewer_id").count %> views</span>
          <span class="upvotes"><%= "#" %> upvotes</span>
        </div>
        <div class="blurb" ><%= simple_format(story.blurb) %></div>
  
      </div>
      
  </div>
</div>