
<div id="home-page" class="row">
  
  <div id="home-left">
    <div id="publish">
      <%= link_to(write_path, class: "btn btn-block btn-primary") do %>
      <i class="icon-pencil icon-white"></i> Publish a story
      <% end %>
    </div>
    
    <div id="user-info">
      <%= render 'shared/floating_user_info' %>
    </div>
    <div id="home-publishers"><%= render 'publishers' %></div>
  </div>
  
  <div id="home-center">
    <div id="new-and-popular"><%= render 'new_boards' %></div>
    <div id="genre-boards"><%= render 'genre_boards' %></div>
  
  
  </div>
  

</div>