<div class="story-main-content">
  <div class="story-content-wrapper">
      <h4 class="story-item-title"><a class="story-title" href="#<%=sp%>-purchase" data-toggle="modal">
            <%= sp %> SP</a></h4>
      
        <div class="story-item-thumb">
          <a href="#<%=sp%>-purchase" data-toggle="modal">
             <i class="icon-star icon-4x"></i>
             <i class="icon-star icon-4x"></i>
             <i class="icon-star icon-4x"></i>
          </a>
        </div>
        
      <div class="story-description">
          <a class="author-name" title="<%= '#' %>" href="#<%=sp%>-purchase" data-toggle="modal">
          $<%= usd %>
          </a>
        <div class="blurb" ><p>Exchange $<%=usd%> (USD) for <%=sp%> Storyboard Points</p></div>
      </div>
  </div>
</div>

<div id="<%=sp%>-purchase" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Purchase <%=sp%> Storyboard Points</h3>
  </div>
  <div class="modal-body">
    <p>Cost: $<%=usd%></p>
  </div>
  <div class="modal-footer">
  </div>
</div>