<div class="story-main-content">
  <div class="story-content-wrapper">
    <a id="<%=sp%>-purchase">
    <%= form_tag(charges_path) do %>
    
    <%= hidden_field_tag "amount", sp.to_i %>
    
      <h4 class="story-item-title"><%=sp%> SP</h4>
      
        <div class="story-item-thumb">
             <i class="icon-star icon-4x"></i>
             <i class="icon-star icon-4x"></i>
             <i class="icon-star icon-4x"></i>
        </div>
        
      <div class="story-description">
         $<%= usd %>
        <div class="blurb" >
          <p>Exchange $<%=usd%> (USD) for <%=sp%> Storyboard Points</p>
          <p>Bonus Community Points: <%=cp%></p>
        </div>
      </div>
      

    <% end %>
    </a>
  </div>
</div>

  <script>
    $('#<%=sp%>-purchase').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('#<%=sp%>-purchase > form').append($input).submit();
      };

      StripeCheckout.open({
        key:         '<%=Rails.configuration.stripe[:publishable_key]%>',
        address:     false,
        amount:      <%=(sp.to_f)%>,
        name:        '<%=sp%> SP',
        description: '<%=sp%> Storyboard Points purchase',
        panelLabel:  'Checkout',
        token:       token
      });

      return false;
    });
  </script>