<li id="500" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "500", usd: "5" %>
  </div>
</li>

<li id="1000" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "1000", usd: "10" %>
  </div>
</li>
  
<li id="1500" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "1500", usd: "15" %>
  </div>
</li>
    
<li id="2000" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "2000", usd: "20" %>
  </div>
</li>

<li id="2500" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "2500", usd: "25" %>
  </div>
</li>

<li id="3000" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "3000", usd: "30" %>
  </div>
</li>