<li id="500" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "500", cp: "100", usd: "5" %>
  </div>
</li>

<li id="1000" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "1000", cp: "200", usd: "10" %>
  </div>
</li>
  
<li id="1500" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "1500", cp: "300", usd: "15" %>
  </div>
</li>
    
<li id="2000" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "2000", cp: "400", usd: "20" %>
  </div>
</li>

<li id="2500" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "2500", cp: "500", usd: "25" %>
  </div>
</li>

<li id="3000" class="span3">
  <div class="thumbnail">
    <%= render 'packages', sp: "3000", cp: "600", usd: "30" %>
  </div>
</li>