<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span3">
  <%= render 'shared/floating_user_info' %>
  </aside>
<% if @user.stories.any? %>
  <div class="span2 offset1">
    <div class="storyboard-container">
      <div class="span8"><section><%= "Published" %></section></div>
      <div class="span8">
        <% if current_user?(@user) %>
          <%= link_to "Publish a story", write_path, class: "btn btn-block btn-primary" %>
        <% end %>
        <% unless @user.stories.nil? %>
        <ul class="stories">
          <% @user.stories.each do |s| %>
          <li><%= link_to s.title, s %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
<% end %>    
</div>

<%= render 'shared/board' %>
