<% provide(:title, @user.name) %>

<div class="row">
    
  <div class="user-page">
      <div class="user-left">
        <%= render 'shared/floating_user_info' %>
      </div>
      <div class="user-center">
          <div class="tabbable tabs-left">
          
            <ul class="nav nav-tabs">
              <% @user.boards.select("DISTINCT name").each do |board| %>
              <li><a href="#<%=board.name.parameterize%>" data-toggle="tab"><%=board.name%></a></li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @user.boards.select("DISTINCT name").each do |board| %>
              <div class="tab-pane" id="<%=board.name.parameterize%>">
                <%= render 'board', board: board %>
              </div>
              <% end %>
            </div>
            
            
          </div>
        </div>
      </div>
    

</div>