<% provide(:title, @title) %>
<div class="row">
  <div class="user=page">
    <div class="user-left">
      <%=render 'shared/floating_user_info'%>
    </div>
    <div class="user-center">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li><a href="#pub" data-toggle="tab">Publishers</a></li>
            <li><a href="#sub" data-toggle="tab">Readers</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane <%=current_page?(publishers_user_path) ? 'active' : ''%>" id="pub"><%= render 'relationships', relationships: @publishers %></div>
          <div class="tab-pane <%=current_page?(readers_user_path) ? 'active' : ''%>"" id="sub"><%= render 'relationships', relationships: @readers%></div>
        </div>
      </div>
    </div>
  </div>
</div>