<%= render 'shared/error_messages', object: @story %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :primary_genre %>
<%= f.collection_select(:primary_genre_id, Genre.all, :id, :name, prompt: true) %>

<%= f.label :secondary_genre %>
<%= f.collection_select(:secondary_genre_id, Genre.all, :id, :name, prompt: "Optional...") %>

<%= f.label :tertiary_genre %>
<%= f.collection_select(:tertiary_genre_id, Genre.all, :id, :name, prompt: "Optional...") %>

<div class="field">
<%= f.label :blurb %>
<%= f.text_area :blurb, rows: 5, placeholder: "Blurb...(max. 250 characters)" %>
</div>


<div class="field">
<%= f.label :content %>
<%= f.text_area :content, placeholder: "Paste your story here...(max. 10,000 words)" %>
</div>