<% provide(:title, @story.title) %>
<div class="row">
  <aside class="span3">
  <div id="story-info"><%= render 'shared/floating_story_info' %></div>
  <div class="storyboard-seperator"></div>
  <div id="author-info"><%= render 'shared/floating_author_info' %></div>
  </aside>

<div class="span8 offset1">
    <div id="genre-tags" class="row"><%= render 'display_genre_tags' %></div>
    <div class="row">
        <% if signed_in? && current_user?(@author) %>
          <div class="span2"><%= link_to "Edit story", edit_story_path %></div>
          <div class="span2 offset1"><%= link_to "Delete story", @story,  method: :delete,
              data: {confirm: "Delete story?"} %>
          </div>
        <% end %>
    </div>
  
    <div class="row">
      <div id="title" class="row"><%= render 'display_title' %></div>
      <div id="blurb" class="row"><%= render 'display_blurb' %></div>
      <div id="story" class="row"><%= render 'display_story' %></div>
      
      <% if !@stats || @stats.viewed == false %>
      <div id="view-story" class="row"><%= render 'view_story_form' %></div>
      <% end %>
      
      <% if signed_in? %>
        <div id="render-review"><%= render 'review_forms' %></div>
        <div id="comment-holder" class="row">
          <div id="comment-profile-pic" class="span2"><%= render 'shared/user_info' %></div>
          <div id="comment-text-area" class="span6"><%= render 'comment_form' %></div>
        </div>  
      <% end %>
      
      <div class="row">
        <div class="span8"><%= render 'show_comments' %></div>
      </div>
    </div>
  </div>
</div>