<% provide(:title, @story.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <% if current_user?(@story.user) %>
        <p>Hello author</p>
      <%= link_to "Edit story", edit_story_path %>
      <%= link_to "Delete story", @story,  method: :delete,
                                      data: {confirm: "Delete story?"}
                                       %>
    <% end %>
    </section>
  </aside>
  <aside class="span8">
    <section>
      <h2><%= @story.title %></h2>
      <h4><%= @story.genre %></h4>
      <p><%= @story.blurb %></p>
      <aside class="span8">
      <section>
      <%= render 'stat_form' %>
      </section>
      </aside>
      <h3>Story:</h3>
      <p><%= @story.content %></p>
    </section>
  </aside>
   <aside class="span8">
    <section>
      <%= render 'storyboard_form' %>
    </section>
  </aside>
  <aside class="span6">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/comment_form' %>
      </section>
  </aside>
  <div class="span8">
    <% if @story.comments.any? %>
      <h3>Comments (<%= @story.comments.count %>)</h3>
      <ol class="microposts">
        <%= render 'comments/comment' %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
  
  
</div>