<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "StoryBoard", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li class="nav-search">
            <%= form_tag stories_path, class: "form-inline", method: :get do %>
              
              <%= text_field_tag :search, params[:search], class: "span2" %>
              <%= button_tag "Search", name: nil, class: "btn" %>
              
            <% end %>
          </li>
          <li><%= link_to(write_path) do %>
               <i class="icon-pencil"></i> Publish
              <% end %>
          </li>
          <% if signed_in? %>
            <li class="dropdown header-points">
              <%= render 'shared/points' %>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href='' class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i> <%= current_user.name %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to(current_user) do %>
                 <i class="icon-book"></i> Library
                <% end %></li>
                <li><%= link_to(edit_user_path(current_user)) do %>
                      <i class="icon-wrench"></i> Settings
                    <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to(signout_path, method: "delete") do %>
                    <i class="icon-trash"></i> Sign out
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
